@{
    ViewBag.Title = "About";
    ViewBag.Message = "Trabajo Final de Finanzas e Ingenieria Economica";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>Ciclo academico regular 2018-1</p>
<p>Profesor: José Manuel Martín Senmache Sarmiento</p>
<br />
<h3><strong>Integrantes</strong></h3>
<ul>
    <li>Luis Galindo Honores</li>
    <li>Omar Chavez Olivera</li>
    <li>Rogger Silva</li>
    <li>Daniel Kou</li>
    <li>Diego Marca</li>
</ul>
